<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="https://www.thymeleaf.org">

<head>
    <title>Pagina visibile solo all'admin</title>
    <meta charset="UTF-8">
</head>

<body>
    <h4>Pagina visibile solo all'admin</h4>
    
    <div style="height: calc(100vh - 2px); border: 1px solid black">
        
        <div style="padding: 15px 10px; height: 19px; border-bottom: 1px solid black; position: relative">
    		<a th:href="@{/admin/uploadRequest}">Insert a new photo</a>
    	</div>
    
    </div>
    
</body>

</html>