<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="https://www.thymeleaf.org">

<head>
    <title>Pagina visibile solo all'admin</title>
    <meta charset="UTF-8">
</head>

<body>
    <h4>Pagina visibile solo all'admin</h4>
    
    <div style="height: calc(100vh - 2px); border: 1px solid black">
<!--         <div style="padding: 15px 10px; height: 19px; border-bottom: 1px solid black; position: relative"> -->
<!--             <a>SILPHotos</a> -->
<!--             <a style="margin-left: 20px" th:href="@{/galleryByPhoto}">Photos</a> -->
<!--             <a style="margin-left: 20px" th:href="@{/galleryByAlbum}">Albums</a> -->
<!--             <a style="margin-left: 20px" th:href="@{/galleryByPhotographer}">Photographers</a> -->
<!--             <form th:action="@{/galleryByPhoto}" method="GET" th:object="${photos}" style="position: absolute; width: 332px; right: 10px; top: 15px"> -->
<!--                 <input type="text" name="filter" style="height: 16px; width: 250px; border: 1px solid black; padding: 1px;"> -->
<!--                 <button type="submit" style="width: 72px; height: 18px">SEARCH</button> -->
<!--             </form> -->
<!--         </div> -->
        
        <div style="padding: 15px 10px; height: 19px; border-bottom: 1px solid black; position: relative">
    		<a th:href="@{/admin/uploadRequest}">Insert a new photo</a>
    	</div>
    
    </div>
    
</body>

</html>