<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<form th:action="@{/admin/submitPhotoForm}" method="POST" enctype="multipart/form-data" th:object="${upf}"> 
        
        <ul>
        	<li>
	        	Complete photographer's name: 
	        	<input type="text" th:field="*{photographerName}"/>
		        <span th:if="${#fields.hasErrors('photographerName')}" th:errors="*{photographerName}"></span>
	        </li>
	        
	        <li>
	        	Album's name: 
	        	<input type="text" th:field="*{albumName}"/>
	        	<span th:if="${#fields.hasErrors('albumName')}" th:errors="*{albumName}"></span>
	        </li>
	        
	        <li>
	        	Photo's name: 
	        	<input type="text" th:field="*{photoName}"/>
	        	<span th:if="${#fields.hasErrors('photoName')}" th:errors="*{photoName}"></span>
	        </li>
	        
	        <li>
	        	Upload image:
	        	<input type="file" name="file"/>
	        </li>
        </ul>
        <br>
        <div>
        	<input type="submit" value="Submit" />
        </div>
        
    </form>

</body>
</html>