<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<form th:action="@{/admin/submitPhotoForm}" method="POST" enctype="multipart/form-data"> 
        
        <div th:object="${photographer}">
        	Complete name photographer: 
        	<input type="text" name="ph_name"/>
<!--         	<div th:if="${#fields.hasErrors('photographer_name')}" th:errors="*{photographer_name}"></div> -->
        </div>
        
        <div th:object="${album}">
        	Album's name: 
        	<input type="text" name="al_name"/>
<!--         	<div th:if="${#fields.hasErrors('album_name')}" th:errors="*{album_name}"></div> -->
        </div>
        
        <div th:object="${photo}">
        	Photo's name: 
        	<input type="text" name="photo_name"/>
<!--         	<div th:if="${#fields.hasErrors('photo_name')}" th:errors="*{photo_name}"></div> -->
        </div>
        
        <div>
        	Image:
        	<input type="file" name="file"/>
        </div>
        
        <br>
        
        <div>
        	<input type="submit" value="Submit" />
        </div>
        
    </form>

</body>
</html>