<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
	<title>Complete form</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" th:href="@{/gallery.css}" />
</head>

<body>
	<div class="row m-0">
		<div class="col-3"></div>
		<div class="col-6">
			<form th:action="@{/checkRequest}" method="POST" th:object="${order}" style="margin-top: 50px">
				<div class="form-group">
					<label for="name">Name</label>
					<input type="text" class="form-control" id="name" placeholder="Scrivi" th:field="*{name}">
					<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color:#ff0000"></span>
				</div>
				<div class="form-group">
					<label for="surname">Surname</label>
					<input type="text" class="form-control" id="surname" placeholder="Scrivi" th:field="*{surname}">
					<span th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}" style="color:#ff0000"></span>
				</div>
				<div class="form-group">
					<label for="email">Email</label>
					<input type="email" class="form-control" id="email" placeholder="Scrivi" th:field="*{email}">
					<span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color:#ff0000"></span>
				</div>
				<button type="submit" class="btn btn-primary" style="margin-bottom: 30px">Send request</button>
				<h4>Summary</h4>
				<div class="container" style="height: calc(100% - 50px); margin-bottom: 30px">
					<div class="photo-container" th:each="photo : ${order.photos}"
						style="height: 300px; width: calc(100% - 10px); margin-top: 30px">
						<div class="row">
							<div class="col-6">
								<img class="photo" style=" height: 300px; width: inherit"
									th:src="'/getImage?id=' + ${photo.getId()}">
							</div>
							<div class="col-6" style="padding-top: 30px; padding-left: 40px;">
								<h3>Title:</h3>
								<p style="padding-left: 20px" th:text="${photo.name}"></p>
								<h3>Author</h3>
								<p style="padding-left: 20px" th:text="${photo.album.ph.name}"></p>
								<h3>Album</h3>
								<p style="padding-left: 20px" th:text="${photo.album.name}"></p>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
		<div class="col-3"></div>
	</div>
	

</body>

</html>