<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <title>Success</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/gallery.css}" />
</head>

<body>
    <div>
        <img style="margin: auto; display: block; margin-top: 60px" th:src="@{/assets/success.png}">
    </div>
    <div style="text-align: center; margin-top: 50px">
        <a th:href="@{/}">Back to gallery</a>
    </div>
</body>

</html>